<!DOCTYPE HTML>
<html>
<head>
    <title>
        All school
    </title>
</head>

<body>
    <table>
        <tr>
            <th> First name </th>
            <th> Last name </th>
            <th> School </th>
            <th> Country </th>
        </tr>
            {% for entity in rows %}
                <tr>
                    {% for word in entity %}
                        <td>
                            {{ word }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <form action='/'>
    <input type=submit value='Back to main menu'>
    </form>
</body>
</html>