<!DOCTYPE HTML>
<html>
<head>
    <title>
        Applicants and mentors
    </title>
</head>

<body>
    <table>
        <tr>
            <th> First name </th>
            <th> Application code </th>
            <th> Mentor's name </th>
        </tr>
            {% for entity in rows %}
                <tr>
                    {% for word in entity %}
                        <td>
                            {% if word == ' ' %}
                                None
                            {% else %}
                                {{ word }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
    </table>
    <form action='/'>
    <input type=submit value='Back to main menu'>
    </form>
</body>
</html>