<!DOCTYPE HTML>
<html>
    <head>
        <title>
            Connect to database
        </title>
    </head>
    <body>
        <form action='/'>
            Please type your database's name:
            <input type=text name='dbname'><br>
            Please type your username:
            <input type=text name='user'><br>
            Please type your password:
            <input type=password name='password'><br>
            <input type=submit value='Connect'> 
        </form>
    </body>

</html>