<!DOCTYPE HTML>
<html>

    <head>
            <title>
                Application Process - Main
            </title>
    </head>

    <body>
        {% if connect=='get_datas' %}
            <form action='/'>
                Please type your database's name:
                <input type=text name=dbname><br>
                Please type your username:
                <input type=text name=user><br>
                Please type your password:
                <input type=password name=password><br>
                <input type=submit Connect>
            </form>
        {% else %}
            <form action='/connect_to_db'>
            <input type=submit value="Make database connection">
            </form>
        {% endif %}
    </body>

</html>