<!DOCTYPE HTML>
<html>

    <head>
            <title>
                Application Process
            </title>
    </head>

    <body>
        {% if connect=='not_ok_yet' %}
            <form action='/connect_to_db'>
            <input type=submit value="Make database connection">
            </form>       
        {% elif connect=='not_ok' %}
        You made mistake(s), sir. Please try again!
            <form action='/connect_to_db'>
            <input type=submit value="Try to make database connection">
            </form>   
        {% elif connect=='ok' %}
            <h1>Main Menu</h1>
            <ul>
                <li><a href='/mentors'>Mentors and schools page</a></li>
                <li><a href='/all_school'>Mentors and schools page</a></li>
                <li><a href='/mentors_by_country'>Contacts page1</a></li>
                <li>Contacts page2</li>
                <li>Applicants page</li>
                <li>Applicants and mentors page</li>
            </ul>
        {% endif %}
    </body>

</html>